@import '~antd/dist/antd.css';
.Header{
  background-color: white;
}
.content{
background-color: none;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 40px 20px 0px 20px;
  @media screen and (max-width: 700px), (max-height: 500px) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
#ucenterBgVedio{
  object-fit:cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}
.usercenter-form-card{
  max-width: 570px;
  margin: auto;
  width: 100%;
  background-color: rgb(255,255,255,0.7);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding:220px 20px 30px 20px;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
}
.usercenter-form{
  &-login{
    .ant-input-affix-wrapper{
      border-radius: 15px;
    }
  }
}

#usercenter-form-card-content Input,.usercenter-form-card Input.Password{
  height: 50px;
  border-radius: 9px;
  font-size: 18px;
}
.usercenter-form-input-prefix{
  border-radius: 9px;
}
.usercenter-form-card .login-form-button{
width: 50%;
}
.usercenter-form-card{
  display: flex;
  flex-direction: column;
}
.card-item{
  width: 80%;
  max-width: 430px;
  height:200px;
  position: fixed;
  z-index: 2;
  top:20px;
  @media screen and (max-width: 480px) {
    max-width: 310px;
    height: 220px;
    width: 90%;
  }

  @media screen and (max-width: 360px) {
    height: 210px;
  }
}
.usercenter-card{
  width: 100%;
  height:100%;
  background-color: royalblue;
  box-shadow: 0 20px 60px 0 rgb(14 42 90 / 55%);
  z-index: 2;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
  backface-visibility: hidden;

  &.-front{
    z-index: 3;
    &.show{
      transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    }
    &.hide{
      transform: perspective(2000px) rotateY(180deg) rotateX(0deg) rotate(0deg);
    }
  }
  &.-back{
    z-index: 2;
    .usercenter-card-background{
      transform:rotateY(180deg);
    }
    &.show{
      transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    }
    &.hide{
      transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
    }
  }
  &.-register{
    .usercenter-card-regi-header{
      .usercenter-card-regi-header-info{
        display: flex;
        flex-direction: column;
        color: gainsboro;
        font-weight: bold;
        .anticon {
          margin-right: 5px;
          font-size: 17px;
        }
      }
    }
  }
  // &.-back {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  //   z-index: 2;
  //   padding: 0;
  //   // background-color: #2364d2;
  //   // background-image: linear-gradient(
  //   //   43deg,
  //   //   #4158d0 0%,
  //   //   #8555c7 46%,
  //   //   #2364d2 100%
  //   // );
  //   height: 100%;

  //   .card-item__cover {
  //     transform: rotateY(-180deg)
  //   }
  // }
  &_hide{
    transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
  }
  &__bg {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 2, 29, 0.45);
    }
  }

  &-background {
    height: 100%;
    background-image:  linear-gradient(to top, #30cfd0 0%, #330867 100%);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 2, 29, 0.45);
    }
  }
  &-wrapper {
    font-family: "Source Code Pro", monospace;
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
    @media screen and (max-width: 480px) {
      padding: 20px 10px;
    }
  }
  &-regi{
    &-header{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
  &-login-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;

    @media screen and (max-width: 480px) {
      margin-bottom: -5px;
    }
    @media screen and (max-width: 360px) {
      margin-bottom: -15px;
    }
    &_logo{
      width:60px;
      height: 25px;
      margin-top: 6px;
    }
    &_qrbtn{
      color: white;
      font-size: 25px;
      height: fit-content;
    }
    &_info{
      font-family: Gilroy-regular,-apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
      font-size: 20px;
    }
  }
  &-login-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_avatar{
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
    &_user{
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-top: 20px;
    }
    &_info{
      color: white;
      margin-top: 10px;
      font-weight: bold;

    }
  }
  
}
.login-form-btn{
  display: flex;
  justify-content: center;
  button{
    width: 80%;
    height:40px;
    border-radius: 15px;
  }
}
.login-form-footer{
  display: flex;
  justify-content: flex-end;
}

.usercenter-wrapper{
  max-width: 570px;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  position: relative;
}
.usercenter-form-card{
  &-login{
    .input{
      border-radius: 15px;
    }
    login-btn{
      border-radius: 15px;
    }
  }
  ant-alert{
    border-radius: 10px;
    margin-bottom: 10px;
  }
}