@import '~antd/dist/antd.css';
@import 'emoji-mart/css/emoji-mart.css';
.vcomt{
  &-wrapper{
    display: block;
    position:absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    height: 60vh;
    background-color: rgb(231, 231, 231);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:5px 5px 20px 4px;

  }
  &-action{
    &-appeal{
      display: none;
      flex-direction: row;
      align-items: center;
      color:grey;
      &-text-area{
        background-color: rgb(243, 243, 243);
        border-radius: 15px;
        flex-grow: 1;
        font-size: 13px;
        padding:5px 10px;
      }
      &-micro-btn{
        margin-left: 15px;
        font-size: 20px;
        display: inline;
      }
    }
  }
  &-comt{
    &-wrapper{
      display: flex;
      flex-direction: row;
      width: 100%;
      padding:5px 10px;
      justify-content: flex-start;
      position: relative;
    }
    &-avatar{
      border-radius: 50%;
      margin-right:10px;
    }
    &-like{
      display: flex;
      flex-direction: column;
      color: rgb(194, 194, 194);
      font-size: 15px;
      align-items: center;
      padding-top: 7px;
      &-num{
        margin-top: -3px;
        font-size: 12px;
      }
      .liked{
        color: hotpink;
      }
    }
    &-content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: auto;
      overflow: auto;
      &-uname{
        color: grey;
        font-weight: 550;
      }
      &-commt{
        margin-bottom: 3px;
        margin-top: -3px;
        word-wrap: break-word;
      }
      &-action{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 12px;
        &-time{
          color: grey;
          margin-right: 15px;
        }
      }
    }
  }
}
.icon{
  display: block;
  background-color: rebeccapurple;
  width: 15px;
  height: 15px;
}
.emoji-mart-preview{
  display: none;
}