$top-z-index : 10000;
.video {
  position: relative;
}

.info {
  color: white;
  position: absolute;
  bottom: 80px;
  left: 10px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 75vw;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
  z-index: $top-z-index;
  .author {
    font-weight: bold;
    line-height: 2;
  }
  .liveComents{
    position: relative;
    height: 10vh;
    width: auto;
    display: block;
  }
  .description {
    display: inline;
  }

  .tags {
    font-weight: bold;
    display: inline;

    .tag {
      margin-left: 8px;
    }
  }
  .danmu{
    z-index: 9999;
    width:90%;
    margin:auto;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    align-items: center;
    input{
      width: 95%;
      margin-right: 15px;
      color: grey;
      height: 35px;
      border-radius: 35px;
      padding-left: 5px;
    }
  }
}

.action {
  position: absolute;
  bottom: 150px;
  right: 10px;
  max-width: 20vw;

  .like,
  .comment {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 3px #484848);
    z-index: $top-z-index;
    &-icon {
      width: 40px;
      height: 40px;
      background-size: cover;
    }

    &-number {
      color: #ffffff;
      font-size: 12px;
    }
  }

  .like {
    &-icon {
      background-image: url('../../static/image/like.png');
    }
  }

  .comment {
    &-icon {
      background-image: url('../../static/image/comment.png');
    }
  }
}

//a hacking for css broken in player danmu switch button