$top-z-index : 10000;

.video {
  position: relative;
}

.info {
  color: white;
  position: absolute;
  bottom: 80px;
  left: 10px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 75vw;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
  z-index: $top-z-index;

  .author {
    font-weight: bold;
    line-height: 2;
  }

  .liveComents {
    position: relative;
    height: 10vh;
    width: auto;
    display: block;
  }

  .description {
    display: inline;
  }

  .tags {
    font-weight: bold;
    display: inline;

    .tag {
      margin-left: 8px;
    }
  }

  .danmu {
    z-index: 9999;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    align-items: center;

    input {
      margin-right: 10px;
      color: grey;
      height: 30px;
      border-radius: 35px;
      padding: 0 10px;
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
      background: #535252ba;
      color: #ffffff;
      border: none;
      outline-style: none;

      &::-webkit-input-placeholder {
        color: #b9b9b9;
      }

      &:focus {
        opacity: 1;
      }
    }
  }
}

.action {
  position: absolute;
  bottom: 150px;
  right: 10px;
  max-width: 20vw;
  z-index: $top-z-index;

  .comment {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 3px #484848);

    &-icon {
      width: 40px;
      height: 40px;
      background-size: cover;
    }

    &-number {
      color: #ffffff;
      font-size: 12px;
    }
  }

  .comment {
    &-icon {
      background-image: url('../../static/image/comment.png');
    }
  }
}

//a hacking for css broken in player danmu switch button
