body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// a {
//   text-decoration: none;
//   color: rgba(255, 255, 255, 0.5);
// }
.danmu-switch{
  display: flex;
  margin-right: 15px !important;
  &.danmu-switch-active{
    background-color: #1890ff;
  }
  span.txt{
    color:#1890ff;
  }
}